footer{
    background-color: #ddeff0;
}
.footer{
    width: 60%;
}
.footer-link{
    text-decoration: none;
    color: #1F2937;
    font-size: 16px;
    font-weight: 500;
}


@media only screen and (max-width: 576px) {
    .footer{
        width: 90%;
    }
    .footer-link{
        font-size: 14px;
    }
}