.service-card{
    background-color: rgba(242, 249, 249, 0.5);
    /* box-shadow: 0 0 15px lightgray; */
    transition: 0.3s;
}
.service-card:hover{
    box-shadow: 0 0 15px gray;
    transition: 0.3s;
}

.card-description{
    text-align: justify;
    margin: 25px auto;
    font-size: 14px;
    line-height: 1.5;
}